.BoxProduct {
    width: 70vw;
    margin-left: 15vw;

}

.precoProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3772FF;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    color: #3772FF;

    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.nomeProduto{
    margin-top: 20px;
    height: 70px;
    background-color: transparent;
    flex-wrap: wrap;
}