button.frete{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    background-color: #1D5ACF;
    color: #fff;
    transition: all 0.2s ease;
    
}

.frete:hover{
    background-color: transparent;
    border: 2px solid #3772FF;
    color: #3772FF;
}

input {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

h3 {
    margin-top: 20px;
}

.Subcontainer{
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.InfoFrete {
    width: 100%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Fretelocalizacao, .Freteprazo {
    width: 200px;
    text-align: center;
    min-width: 0;
}

.Fretecusto {
    width: 100px;
    text-align: center;
    min-width: 0;
}

.TextCusto, .TextLocalizacao, .TextPrazo {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

@media (max-width: 992px) {
    .Subcontainer {
        gap: 10px;
    }
    .InfoFrete {
        flex-wrap: wrap;
    }

    button.frete, input {
        width: 100%;
    }

    .Fretelocalizacao{
        width: 100%;
    }

    .Fretecusto {
        margin-top: 20px;
        width: 40%;
    }
    .Freteprazo {
        margin-top: 20px;
        width: 60%;
    }

    .TextPrazo, .TextCusto, .TextLocalizacao {
        width: 100%;
        text-align: center;
    }

}