.Main-container {
    margin-top: 50px;
    width: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    gap: 100px;
}


@media (max-width: 992px) {
    .Main-container {
        display: block;
    }
}
