* {
  margin: 0;
  padding: 0;
  border: 0px solid #ff0066;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
}

.App-header {
  width: 100%;
  background-color: #fff;
}
