button.register{
    background-color: #153243;
    width: 125px;
    height: 50px;
    
    border:0px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

button.login{
    width: 250px;
    height: 50px;
    
    border: 2px solid #153243;
    border-radius: 10px;
    cursor: pointer;

    background-color: transparent;
    color: #153243;
}

.register:hover{
    background-color: #102736;
}

.login:hover{
    background-color: #153243;
    color: #fff;
}

.Authentication-header{
    width: 400px;
    justify-content: space-between;
    display: flex;
}

