.header-container {
    width: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .header-container {
        display: block;
    }
}
