.header-container {
    width: 90vw;
    margin-left: 5vw;
    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .header-container {
        display: block;
    }
}
