.Logo {
    background-image: url('/public/logo.png');
    width: 200px;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    flex-shrink: 0;
}

@media (max-width: 992px) {
    .Logo {
        width: 100%;
        height: 100px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
}