.Menu-header ul{
    align-items: center;
    display: flex;
    gap: 20px;

    width: auto;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    width: 150px;
    height: 50px;

    list-style-type: none;

    align-items: center;
    justify-content: center;

    /*transition: transform 2.4s linear;*/
}

li.red:hover, li.blue:hover, li.green:hover, li.yellow:hover {
    border: 2px solid #153243;
    border-radius: 50px;
    transform: rotate(345deg);
}

a {
    text-decoration: none;
    color: #153243;
}

li.red:hover a.red {
    color: #DF2935;
}
li.green:hover a.green {
    color: #04E762;
}
li.blue:hover a.blue {
    color: #3772FF;
}
li.yellow:hover a.yellow {
    color: #FDCA40;
}

li.red:hover{
    border-color: #DF2935;
    color: #DF2935;
}
li.green:hover{
    border-color: #04E762;
    color: #04E762;
}
li.blue:hover{
    border-color: #3772FF;
    color: #3772FF;
}
li.yellow:hover{
    border-color: #FDCA40;
    color: #FDCA40;
}